<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<div class="login-page">
  <div class="form">
    <form action="/process_login" method="post" class="login-form">
      <h1>Welcome back, <%=username%>!</h1>
      <p><a href="/logout">Logout</a></p>
    </form>
  </div>
</div>
